  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh mục nhóm quyền
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="application_groups">Nhóm quyền</a></li>
        <li class="active">Danh mục</li>
    </ol>
</section>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card">
        <div class=" header" style="padding-bottom: 6%;">
            <h2>Danh mục nhóm</h2>
            <div class="col-md-5" style="padding-top: 1%;">
                <div class="form-line">
                    <input type="text" ng-model="keyword" class="form-control" placeholder="Tìm kiếm">
                </div>
            </div>
            <div class="col-md-1" style="padding-top: 0.65%; padding-left:0px;">
                <button ng-click="search()" type="button" class="btn btn-primary waves-effect">
                    <i class="material-icons">search</i>
                    <span>Tìm kiếm</span>
                </button>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3" style="padding-top: 0.65%; padding-left:0px;">
                <button ui-sref="add_application_group" type="button" class="btn btn-success waves-effect" style="float:left">
                    <i class="material-icons">add_circle</i>
                    <span>Thêm mới </span>
                </button>
                <button ng-click="deleteMultiple()" id="btnDelete" disabled type="button" class="btn btn-danger waves-effect" style="float:left;margin-left:2%;">
                    <i class="material-icons">delete_forever</i>
                    <span>Xóa</span>
                </button>
            </div>
        </div>
        <div class="body">
            <div class="table-responsive">
                <table class="table table-hover dashboard-task-infos">
                    <thead>
                        <tr>
                            <th style="width: 5%">

                                <input type="checkbox" id="checkbox" class="filled-in" name="all">
                                <label ng-click="selectAll()" for="checkbox" style="height:0px !important;margin-left:0px; padding-bottom:41%"></label>
                            </th>
                            <th>Tên nhóm</th>
                            <th>Mô tả</th>
                            <th style="width: 15%">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in data">

                            <td>
                                <input type="checkbox" id="{{item.Id}}" ng-model="item.checked" class="chk-col-red" name="all">
                                <label for="{{item.Id}}" style="height:0px !important;margin-left:0px; padding-bottom:41%"></label>
                            </td>
                            <td>{{item.Name}}</td>
                            <td><span>{{item.Description}}</span></td>

                            <td>
                                <button class="btn btn-small btn-primary" ui-sref="edit_application_group({id:item.Id})"><i class="material-icons">mode_edit</i></button>
                                <button class="btn  btn-sm btn-danger" ng-click="deleteItem(item.Id)"><i class="material-icons">delete</i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="box-footer text-right pd-0">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></pager-directive>
        </div>
    </div>
</div>