<section class="content-header">
  <h1>
    Cập nhất người dùng
  </h1>
  <ol class="breadcrumb">
    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
    <li><a ui-sref="accounts">Danh mục người dùng</a></li>
    <li class="active"><a href="#">Cập nhật</a></li>
  </ol>
</section>



<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Thêm mới người dùng</h2>
            </div>
            <div class="body">
                <form role="form" novalidate name="frmUpdateAccount" ng-submit="updateAccount()">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input required type="text" placeholder="Họ tên người dùng" class="form-control" name="name" reqired-message="Tên nhóm bắt buộc." ng-model="account.FullName">
                           
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input required type="text" placeholder="Tài khoản" class="form-control" name="name" reqired-message="Tên nhóm bắt buộc." ng-model="account.UserName">
                          
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input required type="text" placeholder="Mật khẩu" class="form-control" name="name" reqired-message="Tên nhóm bắt buộc." ng-model="account.Password">
                        
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input required type="text" placeholder="Email" class="form-control" name="name" reqired-message="Tên nhóm bắt buộc." ng-model="account.Email">
                            
                        </div>
                    </div>


                    <div class="form-group form-float">
                        <div class="col-md-2"> Ngày sinh</div>
                        <div class="col-md-10">
                            <div class="form-line">
                                <input required type="date" class="form-control" name="name" reqired-message="Tên nhóm bắt buộc." ng-model="account.BirthDay">

                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="checkbox" name="checkbox">
                        <label for="checkbox">Trạng thái</label>
                    </div>
                    <button ui-sref="application_roles" class="btn btn-danger waves-effect" type="submit">Hủy bỏ</button>

                    <button class="btn btn-primary waves-effect" type="submit" ng-disabled="frmUpdateAccount.$invalid">Lưu Lại</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="../../../Libs/NewUI/js/onFocus.js"></script>

