<div>
  <section class="content-header">
      <h4>
          Danh mục người dùng
      </h4>
      <ol class="breadcrumb">
          <li>
              <a href="/">
                  <i class="fa fa-dashboard"></i> Trang chủ</a>
          </li>
          <li>
              <a ui-sref="application_groups">Người dùng</a>
          </li>
          <li class="active">Danh mục</li>
      </ol>
  </section>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="box">
          <div class="box-header clearfix">
              <div class="pull-left" dx-text-box="textBox.search"></div>
              <div class="pull-right" dx-button="{icon: 'plus',text: 'Thêm mới'}" ui-sref="add_application_user"></div>
          </div>
          <div class="box-body">
              <div id="gridContainer" dx-data-grid="dataGridOptions" dx-item-alias="data">
                  <div data-options="dxTemplate:{ name:'cellTemplate' }">
                      <div ng-if="data.value">
                          Khóa
                      </div>
                      <div ng-if="!data.value">
                          Đang hoạt động
                      </div>
                  </div>
                  <div data-options="dxTemplate:{ name:'actionCellTemplate' }">
                      <div class="btn-group">
                          <button type="button" class="btn btn-default" ui-sref="edit_application_user({id:data.value})">
                              <i class="fa fa-edit"></i>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- <section class="content-header">
  <h1>
    DANH MỤC NGƯỜI DÙNG
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="/admin">
        <i class="fa fa-dashboard"></i> Trang chủ</a>
    </li>
    <li class="active">
      <a ui-sref="accounts">Danh mục người dùng</a>
    </li>
  </ol>
</section>
<section class="content">
  <div class="box box-primary">
      <div class="box-header with-border">
          <h3 class="box-title">Danh dách các người dùng</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 pd-0">
          <input type="text" id="txtSearch" ng-model="filterExpression" class="form-control" placeholder="Nhập từ khóa..." />
        </div>
        <div class="col-md-6 text-right pd-0">
          <button class="btn btn-success pull-right" ui-sref="add_application_user">
            <i class="fa fa-plus"></i> Thêm mới</button>
        </div>
      </div>
      <div class="row mg-0">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>Tên người dùng</th>
                <th>Tài khoản</th>
                <th>Email</th>
                <th style="width:10%"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in data | filter:filterExpression">
                <td>
                  <a ui-sref="edit_application_user({id:item.Id})">{{item.FullName}}</a>
                </td>
                <td>
                  <a ui-sref="edit_application_user({id:item.Id})">{{item.UserName}}</a>
                </td>
                <td>{{item.Email}}</td>
                <td>
                  <a ui-sref="edit_application_user({id:item.Id})" class="btn btn-sm btn-primary">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <button class="btn btn-sm btn-danger" ng-click="deleteItem(item.Id)">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div ng-if="loading">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
          <i class="fa fa-refresh fa-4x fa-spin"></i>
          <label class="label label-primary">Đang tải...</label>
        </div>
        <div class="col-xs-4"></div>
      </div>
    </div>
  </div>
  <div class="box-footer text-right">
      <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></pager-directive>
    </div>
</section> -->