<div class="row mg-0">
  <div class="col-md-6 background">
    <div class="bg-border"></div>
    <div class="bg-image">
    </div>
    <div class="texts">
      <div class="you-cannot">Hệ Thống Quản Lý Sáng Kiến Kinh Nghiệm</div>
      <div class="start-tracking">Hỗ trợ kỹ thuật: 0914.88.88.59</div>
    </div>
  </div>
  <div class="col-md-6 login-form">
    <div class="login-box">
      <div class="clearfix mt-50">
        <div class="kuucall-logo float-right">
        </div>
      </div>
      <div class="login-title">Đăng Nhập</div>

      <form role="form" method="post" ng-submit="loginSubmit()">
        <div class="rectangle">
          <div class="title field pt-0">Tài khoản</div>
          <input type="text" class="form-control" placeholder="Tài khoản" ng-model="loginData.userName">
          <div class="title field pt-0">Mật Khẩu</div>
          <input type="password" class="form-control" ng-model="loginData.password" placeholder="Mật khẩu">
          <div class="field pt-0"></div>
          <button type="submit" class="btn btn-primary btn-lg btn-block btnLogin">Đăng nhập</button>
        </div>
      </form>
      <div class="d-flex justify-content-between footer-box">
        <div class="footer-text-right">
          © {{year}} Sở Khoa Học va Công Nghệ Quảng Nam.
        </div>
      </div>
    </div>
  </div>
</div>
