
<div class="col-md-12 wrapperLogin">
    <form role="form" method="post" ng-submit="loginSubmit()">
        <div class="login-content">
            <div class="col-md-5 loginleft">
                <div class="col-lg-12">
                    <h3 class="headerLogin"> Hệ Thống Quản Lý SKKN</h3>
                    <p class="lead">Login to </p>
                </div>

                <div class="col-lg-12" style="padding-bottom:4%">
                    <input type="text" class="form-control" placeholder="Tài khoản" ng-model="loginData.userName">

                </div>
                <div class="col-lg-12">
                    <input type="password" class="form-control" ng-model="loginData.password" placeholder="Mật khẩu">

                </div>
                <div class="col-md-12">
                    <div class="login-checkbox icheck">
                        <label>
                            <input type="checkbox"> Nhớ mật khẩu
                        </label>
                    </div>

                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-lg btn-block btnLogin">LOGIN</button>
                </div>
                <div class="col-md-12" style="padding-top:4%;text-align:center">
                    <span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Forgot password?</a></span>
                </div>
                <div class="col-md-12">
                    <div class="row hot-line" style="text-align:center">
                        Hỗ trợ kỹ thuật: 0914.88.88.59
                    </div>
                </div>


            </div>
            <div class="col-md-7 hidden-xs hidden-sm loginright" style="padding-left:0%">
                <div class="col-md-12 login-overlay">
                    <p class="textLogin">
                        HỆ THỐNG QUẢN LÝ SÁNG KIẾN KINH NGHIỆM

                    </p>
                    <p class="textLoginContent">
                        by mientrungxanh
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>