
/*Overide*/
.card .body{
    font-size:13px!important;
}

body{
    font-size:13px!important;
}

.form-control {
    font-size: 13px !important;
}

.display-flex{
    display:inline-flex!important;
}

.btn-circle {
    width: 39px !important;
    height: 35px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
    margin-top: -1px;
}