  <!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Hệ thống quản lý sáng kiến kinh nghiệm
  </h1>
  <ol class="breadcrumb">
    <li><a href="dashboard"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
    <!--<li><a href="#">Examples</a></li>-->
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Sở Khoa Học và Công Nghệ tỉnh Quảng Nam</h3>
    </div>
    <div class="box-body" has-permission='Edit'>
      Xin chào bạn đến với hệ thống quản lý các sáng kiến kinh nghiệm.
    </div><!-- /.box-body -->
    <div class="box-footer">
      
    </div><!-- /.box-footer-->
  </div><!-- /.box -->
</section><!-- /.content -->