<div>
    <section class="content-header">
        <h4>
            Danh Mục Sáng Kiến
        </h4>
        <ol class="breadcrumb">
            <li>
                <a href="/">
                    <i class="fa fa-dashboard"></i> Trang chủ</a>
            </li>
            <li>
                <a ui-sref="application_groups">Lĩnh vực</a>
            </li>
            <li class="active">Danh sách</li>
        </ol>
    </section>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="box">
            <div class="box-header" style="display: inline-flex">
                <div style="margin-right: 10px" dx-text-box="textBox.search"></div>
                <div dx-button="{icon: 'plus',text: 'Nộp đơn'}" ui-sref="add_project"></div>
                <div dx-button="filterButton"></div>
            </div>
            <div class="box-body">
                <div id="gridContainer" dx-data-grid="dataGridOptions" dx-item-alias="data">
                    <div data-options="dxTemplate:{ name:'cellTemplate' }">
                        <div ng-if="data.value">
                            Khóa
                        </div>
                        <div ng-if="!data.value">
                            Đang hoạt động
                        </div>
                    </div>
                    <div data-options="dxTemplate:{ name:'actionCellTemplate' }">
                        <div class="btn-group">
                            <button type="button" style="margin-right: 10px;" class="btn btn-default" ui-sref="edit_field({id:data.value})">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger" ng-click="deleteItem(data.value)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup" dx-popup="filterPopup">
    <div data-options="dxTemplate: { name:'info' }">
        <div class="widget-container">
            <div class="widget-container">
                <div class="form-group">
                    <label class="control-label">Nhóm Lĩnh vực</label>
                    <div dx-select-box="fieldGroupSelectBox"></div>
                </div>
                <div class="form-group">
                    <label class="control-label">Lĩnh vực</label>
                    <div dx-select-box="{
                        displayExpr: 'FieldName',
                        placeholder:'Chọn giá trị',
                        valueExpr: 'Id',
                        width: 300,
                        showClearButton: true,
                        bindingOptions: {
                            dataSource: 'fields',
                            value: 'filterOption.FieldId',
                            disabled: 'isFieldDisabled'
                        }
                    }"></div>
                </div>
                <div class="form-group">
                    <label class="control-label">Ngày nộp đơn từ:</label>
                    <div dx-date-box="{
                        showClearButton: true,
                        type: 'date',
                        width: 300,
                        bindingOptions: {
                            value: 'filterOption.StartDate'
                        }
                    }"></div>
                </div>
                <div class="form-group">
                    <label class="control-label">Đến ngày:</label>
                    <div dx-date-box="{
                        showClearButton: true,
                        type: 'date',
                        width: 300,
                        bindingOptions: {
                            value: 'filterOption.EndDate'
                        }
                    }"></div>
                </div>
            </div>
            <div dx-button="addFilterButtonOptions"></div>
        </div>
    </div>
</div>