.has-error {
    color: #f18f8f;
    font-size: 13px;
    font-style: italic;
    margin-left: 2px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

/*Overide Devextreme*/
.dx-widget {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.dx-popup-title.dx-toolbar {
    background-color: #605ca8;
    color: white;
}

.dx-datagrid-content .dx-datagrid-table .dx-row > td {
    vertical-align: middle !important;
}

.dx-datagrid .dx-row-alt > td {
    background-color: #f9fafc;
}

/*Overide Theme*/

.content-header > .breadcrumb {
    float: right;
    background: #f9fafc;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 11px;
    padding: 7px 8px;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 0px;
}

.form-control {
    border-radius: 4px;
    height: 36px !important;
}

.form-group label {
    padding-bottom: 1px;
}

.dx-texteditor-input {
    width: 99%;
    padding: 9px 9px 9px;
}
/*end theme*/
.display-hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

.mg-0 {
    margin: 0 !important;
}

.pd-0 {
    padding: 0 !important;
}

.pdb-30 {
    margin-bottom: 30px !important;
}

.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #ffffff;
    z-index: 800;
}

/*check-box*/
.checkbox-container {
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: rgb(68, 68, 68);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

.checkmark {
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #605ca8;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #605ca8;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*form*/
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f9fafc;
}

.btn {
    font-size: 13px;
}


/*Add login*/
body {
    height: 100%;
    position: relative;
}

.mg-0 {
    margin: 0;
}

.pd-0 {
    padding: 0;
}

.pt-0 {
    padding-top: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.background {
    background: #605ca8;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.bg-border {
    position: absolute;
    background: white;
    width: 100px;
    height: 105%;
    right: -52px;
    top: -10px;
    z-index: 1;
    transform: rotate(-6deg);
    -ms-transform: rotate(-6deg); /* IE 9 */
    -webkit-transform: rotate(-6deg); /* Safari */
}

.bg-image {
    height: 100vh;
    background: url("../img/back-ground.jpg") transparent no-repeat;
    background-size: cover;
    width: 100%;
    opacity: 0.4;
}

.texts {
    position: absolute;
    top: 30%;
    left: 35%;
    max-width: 260px;
}

    .texts .you-cannot {
        font-family: "Times New Roman";
        color: white;
        font-size: 26px;
        margin-bottom: 30px;
    }

    .texts .start-tracking {
        font-family: "Times New Roman";
        font-size: 18px;
        color: white;
    }

.login-form {
    padding: 0;
}

.login-box {
    max-width: 500px;
    margin-left: 50px;
}

.field {
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-title {
    padding-bottom: 50px;
    padding-top: 100px;
    height: 25px;
    font-family: 'Times New Roman';
    font-size: 24px;
    text-align: center;
    color: #777777;
}

.rectangle {
    padding: 30px 30px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

.login-title .title {
    text-align: left;
    color: #777777;
}

.forgot-password {
    font-family: 'Times New Roman';
    font-size: 14px;
    text-align: right;
    color: #39a0d3;
}

.do-not-have-an-acc {
    padding: 20px 0px;
    font-family: 'Times New Roman';
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    color: #777777;
    border-top: 1px solid #eeeeee;
}

.footer-box {
    position: fixed;
    bottom: 15px;
}

.footer-text-left {
    font-family: 'Times New Roman';
    font-size: 12px;
    text-align: center;
    color: #02a798;
}

.footer-text-right {
    font-family: 'Times New Roman';
    font-size: 12px;
    text-align: center;
    color: #777777;
}