.has-error {
    color: #f18f8f;
    font-size: 13px;
    font-style: italic;
    margin-left: 2px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.display-hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

.mg-0 {
    margin: 0 !important;
}

.pd-0 {
    padding: 0 !important;
}

.pdb-30 {
    margin-bottom: 30px !important;
}

.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #ffffff;
    z-index: 800;
}

/*Overide Devextreme*/
.dx-widget {
    color: #333;
    font-weight: normal;
    font-size: 13px;
    /*font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;*/
    font-family: 'Roboto', sans-serif;
    line-height: 1.35715;
}

.dx-texteditor {
    border-radius: unset;
}

.dx-datagrid-content .dx-datagrid-table .dx-row > td {
    vertical-align: middle !important;
}

.dx-datagrid .dx-row-alt > td {
    background-color: #f9fafc;
}

/*check-box*/
.checkbox-container {
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: rgb(68, 68, 68);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #605ca8;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #605ca8;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*form*/
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f9fafc;
}

.btn {
    font-size: 13px;
    border: unset;
    border-radius: unset !important;
}